body, html {
    background-image: url("../images/chef.jpg");   
}


.container {
    margin: auto;
    padding-top: 60px;
    text-align: center;
    border: 4px solid  hsla(60, 1%, 61%, 0.767);
    background-color: rgb(221, 214, 214) 
}

  
.lead {
    font-size: 30px;
    font-weight: bold; 
    font-family: "Garamond", "Book Antigua", "Bookman Old Style"; 
    margin-top: 60px;
 }

h1 {
    font-size: 86px;
    font-weight: bold;
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
}

#start {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
    box-shadow: 0 5px hsla(60, 1%, 61%, 0.767);
    transform: translateY(4px);
 }

 #question {
    text-align: center;
    font-size: 60px;
}

#questionAnswerBox {
    text-align: center;
    font-size: 26px;
    font-weight: bold; 
    font-family: "Garamond", "Book Antigua", "Bookman Old Style";
}

.answerOptionBox {
    background-color: rgb(199, 86, 86);
    border: 4px solid  hsla(300, 1%, 61%, 0.767); 
     
}


   